html, body {
    background-color: #70CF51;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/grass.png');
    background-repeat: repeat;
    color:white;
    font-size:22px;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    overflow:hidden;
    background-repeat: no-repeat;
}

fenton {
    width: 100px; height: 89px;
    background-image: url('../images/fenton.png');
}

sheep {
    width: 100px; height: 105px;
    background-image: url('../images/sheep.png');
}

blacksheep {
    width: 100px; height: 105px;
    background-image: url('../images/blacksheep.png');
}